body {
	margin-left:auto;
	margin-right:auto;
	padding: 2em;
	border: 0;
	font-size: 1em;
	line-height: 1.7em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-width: 35em;
}
table {
	font-size: 1.2em;
	color:#333333;
    border: 3px #b9c9fe solid;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #b9c9fe;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
    background-color: #ffffff;
}

